mat-toolbar{
    background-color: #010a43;
    color: #ffffff;
}

a{
    color:#ffffff;
}

a:hover, a:active{
    color: rgb(121, 104, 104);
}

mat-sidenav{
    background-color: #99a4b9;
    color: #ffffff;
}