table {
    width: 85%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
    margin: auto;
    margin-top: 15px;
}
 
th.mat-header-cell {
    text-align: left;
    max-width: 300px;
    background-color: lightsteelblue;
    color: #ffffff;
    font-family: Arial Black;
    font-size: 15px;
}

td.mat-column-action{
    text-align: center;
}

th.mat-column-action{
    text-align: center;
}

.mat-paginator{
    width:92%;
}