<!-- ["name", "email", "phone", "industry", "website"] -->

<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="industry">
        <th mat-header-cell *matHeaderCellDef> Industry </th>
        <td mat-cell *matCellDef="let element"> {{element.industry}} </td>
    </ng-container>

    <ng-container matColumnDef="website">
        <th mat-header-cell *matHeaderCellDef> Website </th>
        <td mat-cell *matCellDef="let element"> {{element.website}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action (s) </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="onDetails(element.id)">
                <mat-icon matTooltip="Details" class="mat-18">dehaze</mat-icon>
                
            </button>
            <button mat-icon-button color="accent" (click)="onUpdate(element.id)">
                <mat-icon  matTooltip="Update" class="mat-18">system_update</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDelete(element.id)">
                <mat-icon matTooltip="Delete"  class="mat-18">delete</mat-icon>
            </button>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>